<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1031388593154-egvibpa6d14qv25irm2ubakb3d1jsn04.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1031388593154-egvibpa6d14qv25irm2ubakb3d1jsn04</string>
	<key>API_KEY</key>
	<string>AIzaSyBdMyyxwz1FDuIwCEidn6e7nMwF8KW23hY</string>
	<key>GCM_SENDER_ID</key>
	<string>1031388593154</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>soyeon.Deartoday</string>
	<key>PROJECT_ID</key>
	<string>dear-today-ef071</string>
	<key>STORAGE_BUCKET</key>
	<string>dear-today-ef071.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1031388593154:ios:c412644f16fc5c581f3b1b</string>
</dict>
</plist>